<div class="row">
	<div class="col s2 m2 l2 center">
		<div class="col s12 m12 l12">
			<img src="../../assets/img/profile.jpg" alt="" class="circle profile-img">
		</div>
		<div class="col s12 m12 l12 profile-info">
			<p class="flow-text">
				Govinda Wagle <br />
				<span class="flow-text about-info">Software Engineer</span> <br />
				<span class="flow-text about-info">stalliongowin@outlook.com</span> <br />
				<span class="flow-text about-info">+9779851181138</span>
			</p>
			<div class="row divider"></div>
			<div class="col s12 m12 l12">
				<a href="https://np.linkedin.com/in/megowin" target="_blank"><img src="../../assets/img/linkedin.png" alt="" class="linkedin-icon"></a>
			</div>
		</div>
	</div>
	<div class="col s9 m9 l9">
		<blockquote>
		<p class="flow-text">
			"Govinda did graduation in Information Management and started working in one of the reputed software company of Nepal, Spiralogics International. He is passionate about the rapid changes in the technology and coping up with it. Loves to learn, listen and tries be an inspiration. He is a very friendly to talk to."<br /> <br />To know more about him, you can call him anytime or email him.
		</p>
	  		<div class="row divider"></div>
	  		<div class="row">
	  			<div class="col s12 m12 l12">
	  				<div class="flow-text">
	  					FAMILIAR TECHNOLOGIES
	  				</div>
	  			</div>
	  			<div class="col s2 m2 l2">
	  			  	<img src="../../assets/img/angular.svg" alt="">
	  			  </div>
	  			 <div class="col s3 m3 l3">
	  			  	<img src="../../assets/img/nodejs.png" alt="" class="node-icon">
	  			 </div>
	  			  <div class="col s2 m2 l2">
	  			  	<img src="../../assets/img/firebase.png" alt="" class='firebase-icon'>
	  			 </div>
	  			  <div class="col s2 m2 l2">
	  			  	<img src="../../assets/img/ionic.png" alt="" class="ionic-icon">
	  			 </div>

	  			  <div class="col s2 m2 l2">
	  			  	<img src="../../assets/img/php.png" alt="" class="php-icon">
	  			 </div>
	  		</div>
	  		<div class="row divider"></div>
	  			<div class="row">
		  			<div class="col s12 m12 l12">
		  				<div class="flow-text">
		  					METHODOLY FOLLOWED
		  				</div>
		  			</div>
		  			<div class="col s12 m12 l12">
		  			  	<p class="flow-text cyan-text ternminology-text">AGILE</p>
		  			</div>
	  		</div>
   		</blockquote>

	</div>
	<div class="col s1 m1 l1"></div>
</div>
